<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <table>
      <thead>
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>date_of_birth </th>
          <th>phone</th>
          <th>city</th>
          <th>zip</th>
          <th>state</th>
          <th>graduation</th>
          <th>email</th>
          <th>year</th>
        </tr>
      </thead>

      <tbody>
        
        <tr>
          <td>{{ student.firstname }}</td>
          <td>{{ student.lastname }}</td>
          <td>{{ student.date_of_birth }}</td>
          <td>{{ student.phone }}</td>
          <td>{{ student.city }}</td>
          <td>{{ student.zip }}</td>
          <td>{{ student.state }}</td>
          <td>{{ student.graduation}}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.year }}</td>
        </tr>
        </tr>
      
      </tbody>
    </table>
    <p>Back to <a href="/students">Student</a></p>
  </body>
</html>