<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <header><h1>Welcome to my Website</h1></header>
  <body>
    <h2>This is homework 6</h2>
    <p>
      This week you learned about using Django views and templates to handle web
      requests. Let's use that to customize the experience for your site
      visitors. create a template (e.g. base.html) to customize your
      application's home page. Your template should receive a user_name
      parameter and display a personalized greeting if one is provided. If none
      is provided, the page should show a generic greeting. create a 'view' to
      handle requests to your application's home page. The view can be function-
      or class-based the view should capture a 'user_name' a query parameter if
      one is passed on the request the view should pass the user_name value to
      your new home-page template and render the resulting HTML as an HTTP
      response update your urls.py to ensure the new view is invoked for
      incoming requests to your home page
    </p>
  </body>
</html>
